<h1>Hello <%=@user.username%>!</h1>
<p>What would you like to do?</p> 
<a href="/cocktail_recipes/new">Create a Cocktail Recipe</a> 
<a href="/cocktail_recipes">View Your Recipes</a> 
<a href="/logout">Log Out</a><br><br> 
   
        
    </ul>
  </div>
</div>