<h1>Hello <%=@user.username%>!</h1> 

  <p><h2>Your Recipes:</h2></p>  
    
      
        <% @user.cocktail_recipes.each do |cocktail_recipe| %> 
       <br><h3> <a href="/cocktail_recipes/<%=cocktail_recipe.id%>">
        <%=cocktail_recipe.cocktail_name%></a></h3></br>
        <br>
        <% end %> 
      

  <p><h2>What would you like to do?</h2></p> 
 
      