<h1> Welcome to Chris's Cocktail Collection</h1> 

    <p><h2>Enter a username, email, and password to sign up:</h2></p> 

      <form action="/signup" method="POST"> 

        <p>
          <label for="username"><h2>Username:</h2></label>
          <input type="text" name="username"/>
        </p> 

        <p> 
          <label for="email"><h2>Email:</h2></label>
          <input type="text" name="email"/> 
        </p> 

        <p> 
          <label for ="password"><h2>Password:</h2></label>
          <input type="password" name="password"/> 
        </p> 

        <p> 
          <label for ="password_confirmation"><h2>Confirm Password:</h2></label>
          <input type="password" name="password_confirmation"/> 
        </p> 

         <p><input type="submit" value="Sign Up"/></p> 

      </form> 

      <p><h3>Already have an account? <a href="/login">Log In</a> here.</h3></p>
    
      
  
