
   
    
    <h1> Welcome to Chris's Cocktail Collection</h1>
      <div class="content">
    <h2>Enter a username, email, and password to sign up:</h2> 
    <form action="/signup" method="POST"> 
    <p>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username:"/>
    </p> 
    <p> 
    <label for="email">Email</label>
    <input type="text" name="email" placeholder='Email Address:'/> 
    </p> 
    <p> 
    <label for ="password">Password</label>
    <input type="password" name="password"> 
    </p> 
    <p> 
    <label for ="password_confirmation">Confirm Password</label>
    <input type="password" name="password_confirmation"/> 
    </p> 
    <p><input type="submit" value="Sign Up"/></p>
  </form> 

    <nav> 
  <p><a href="/">Welcome Page</a></p> 
  <p><a href="/login">Login Page</a></p> 
    </nav> 

       </div>
  
