
    <h3><% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %></h3>
    
    <h1> Welcome to Chris's Cocktail Collection</h1>
        <div class="content">
    <h2>Enter a username, email, and password to sign up:</h2> 
    <form action="/signup" method="POST"> 
    <h3>Username:</h3> 
    <br> 
    <input type="text" name="username" placeholder="Username:">
    <br> 
    <h3>Email:</h3> 
    <br>
    <input type="text" name="email" placeholder='Email Address:'> 
    <br>
    <h3>Password:</h3>
    <input type="password" name="password" placeholder="Password:"> 
    <br> 
    <br>
    <input type="submit" value="submit">
  </form> 
    <br> 
    <br>
  <nav> 
  <a href="/">Welcome Page</a> 
  <a href="/login">Login Page</a> 
    </nav> 

        </div>
  
