<div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.90);" > 
  <h1> Welcome to Chris's Cocktail Collection</h1><br> 

  <p><h2>Enter a username, email, and password to sign up:</h2></p><br> 

    <form action="/signup" method="POST"> 
      <p>
        <label for="username"><h2>Username:</h2></label><br>
        <input type="text" name="username" placeholder="Username" style='width:50%'/>
      </p> 
      <p> 
        <label for="email"><h2>Email:</h2></label><br>
        <input type="text" name="email" placeholder="Email" style='width:50%'/> 
      </p> 
      <p> 
        <label for ="password"><h2>Password:</h2></label><br>
        <input type="password" name="password" placeholder="Password" style='width:50%'/> 
      </p> 
      <p> 
        <label for ="password_confirmation"><h2>Confirm Password:</h2></label><br>
        <input type="password" name="password_confirmation", placeholder="Password Confirmation" style='width:50%'/> 
      </p> 
      <button><h4>Sign Up</h4></button> 
    </form><br>

  <p><h3>Already have an account? <a href="/login">Log In</a> here.</h3></p>
</div>
      
  
