<div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.90);" > 
<h1>Cocktail Recipes:</h1> 
</div>

  <% @cocktail_recipes.each do |cocktail_recipe| %> 
    <div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.90);" >     
      <p><br><h2><a href="/cocktail_recipes/<%=cocktail_recipe.id%>" style="color: #f5f5f5"><%=cocktail_recipe.cocktail_name%></a></h2></br>
      <p><img src="<%= cocktail_recipe.image_url%>" alt="image" style="width: 220px"></p><br>
      <p><h4>created by: <%=cocktail_recipe.user.username%></h4></p>
    </div>  
  <% end %>  
          
