<div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.75);" > 
<h1>Cocktail Recipes:</h1> 
</div>


  <% @cocktail_recipes.each do |cocktail_recipe| %> 
    <div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.75);" >     
      <p><br><h2><a href="/cocktail_recipes/<%=cocktail_recipe.id%>"><%=cocktail_recipe.cocktail_name%></a></h2></br>
      <h3><%=cocktail_recipe.ingredients%></h3></p> 
    </div>  
  <% end %>  
          
