<h1>Create a New Cocktail Recipe</h1> 

	 <form action="/cocktail_recipes" method="POST">

    <label> <h2>Cocktail Name:</h2></label>
    <input type="text" name="cocktail_name" id="cocktail_name"> </br>
    <br>
    <label><h2> Ingredients</h2> </label>
    <input type="text" name="ingredients" id="ingredients"> </br> 
    <br>

    <label> <h2>Instructions <h2></label>
    <input type="text" name="instructions" id="instructions"> </br>
    <br>
    <input type="submit" value="Create">
  	</form>
