<h1>Create a New Cocktail Recipe</h1> 

	 <form action="/cocktail_recipes" method="POST">

    <label> Cocktail Name</label>
    <input type="text" name="cocktail_name" id="cocktail_name"> </br>

    <label> Ingredients </label>
    <input type="text" name="ingredients" id="ingredients"> </br>

    <label> Instructions </label>
    <input type="text" name="instructions" id="instructions"> </br>

    <input type="submit" value="Create">
  	</form>
