<div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.75);" > 
<h1>Create a New Cocktail Recipe</h1><br>

	<form action="/cocktail_recipes" method="POST">
    <p>
      <label for "cocktail name"><h2>Cocktail Name:</h2></label>
      <input type="text" name="cocktail_name" id="cocktail_name" style='width:50%' >
    </p> 

    <p>
    <label for "image url"><h2>Image URL:</h2></label>
    <input type="text" name="image_url" id="image_url" style='width:50%' >
    </p> 

    <p>
      <label for= "ingredients"><h2> Ingredients:</h2></label>
      <textarea name="ingredients" cols="60" rows="5" id ="ingredients" style='width:50%'></textarea>
    </p> 

    <p>
      <label for ="instructions"><h2>Instructions:<h2></label>
      <textarea name="instructions" cols="60" rows="5" id ="instructions" style='width:50%'></textarea> 
    </p>
    <button><h4>Create Cocktail Recipe</h4></button></br> 
  </form> 
  </div>


  

   