

<h1><%= @cocktail_recipe.cocktail_name%></h1> 
	<ul>
 	
 	 <li> 
 	 	<p>Ingredients:</p>
          <%= @cocktail_recipe.ingredients%><br> 
          <br><p>Instructions:</p>
          <%= @cocktail_recipe.instructions%></li> 
          <br>
      <a href="/cocktail_recipes/<%=@cocktail_recipe.id%>/edit">Edit</a
      <br> 
      <br>
      <a href="/logout">Log Out<a> 
      <br> 
      <a href="/user">My Profile Page</a><br><br> 
      <br>
      <a href="/cocktail_recipes">View Cocktail Recipes<a> 
      <br> 
     </ul>
     </li>
  	 <br />
 	 <br />

 	  
