<h1><%= @cocktail_recipe.cocktail_name%></h1> 

 	 	<p><h2>Ingredients:</h2></p>
          <p><h3><%= @cocktail_recipe.ingredients%></h3></p>

          <p><h2>Instructions:</h2></p>
          <p><h3><%= @cocktail_recipe.instructions%></h3></p>

          

        <p><a href="/cocktail_recipes/<%=@cocktail_recipe.id%>/edit"><h3>Edit This Recipe</h3></a></p> 


 	  
    
        