<h1><%= @cocktail_recipe.cocktail_name%></h1>
	<ul>
 	
 	 <li> 
 	 	<p>Ingredients:</p>
          <%= @cocktail_recipe.ingredients%><br> 
          <br><p>Instructions:</p>
 	 	<%= @cocktail_recipe.instructions%></li>
 	 <a href="/cocktail_recipes/<%=@cocktail_recipe.id%>/edit">Edit</a>
 	</ul>
  	 <br />
 	 <br />

 	  
