<h1><%= @cocktail_recipe.cocktail_name%></h1> 

 	 	<p><h2>Ingredients:</h2></p>
          <p><h3><%= @cocktail_recipe.ingredients%></h3></p>

          <p><h2>Instructions:</h2></p>
          <p><h3><%= @cocktail_recipe.instructions%></h3></p>

          

        <p><a href="/cocktail_recipes/<%=@cocktail_recipe.id%>/edit"><h3>Edit This Recipe</h3></a></p> 


 	  
        <ul>
            <h3><a href="/logout">Log Out<a></h3> 
            <h3><a href="/user">My Profile Page</a></h3>
            <h3><a href="/cocktail_recipes/new">Create a Cocktail</a></h3> 
            <h3><a href="/cocktail_recipes">View Cocktail Recipes</a></h3>
        </ul> 
        