<!DOCTYPE html> 

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>The Cocktail Collection</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <div class="wrapper"> 
    
    <h3><% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %></h3> 

        <%= yield %> 
        <nav> 
          <% if logged_in? %>
            <h3><a href="/user">My Profile Page</a></h3>
            <h3><a href="/cocktail_recipes/new">Create a Cocktail</a></h3>
            <h3><a href="/cocktail_recipes">View Cocktail Recipes</a></h3>
            <form method="post" action="/logout" style="display: inline"> 
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout"> 
            </form>


          <% else %> 
          
          <% end %>

      </nav>

      <footer class="branding">
        <small>&copy; 2019 <strong>SinatraCocktailApp</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script> 
      
    <![endif]-->
  </body>
</html>