<h1>Log In</h1> 

  <p><h2>Enter your username and password to log in:</h2></p> 

    <form method="POST" action="/login"> 
    
        <p>
          <label for ="username"><h2>Username:</h2></label>
          <input type="text" name="username"/> 
        </p> 
        

        <p>
          <label for ="password"><h2>Password:</h2></label> 
          <input type="password" name="password"/>
        </p> 

        <button>Log In</button> 

    </form>
    
  <p><h3>If you don't have an account, you can <a href="/signup">Sign Up</a> now.</h3></p>
  