<h1>Welcome to Chris's Cocktail Collection</h1>

  <p><h2> Log In or Sign Up to start viewing and uploading cocktail recipes:</h2></p> 
  <p><h3><a href="/login">Log In</a></h3></p>
  <p><h3><a href="/signup">Sign Up</a></h3></p>
     

