<div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.90);" > 

  <h1>Welcome to Chris's Cocktail Collection</h1> 

  <p><h2> Log In or Sign Up to start viewing and uploading cocktail recipes.</h2></p> 

</div>
  
     

