<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to The Cocktail Collection</h2>

    <div class="content">
      <p> Log In or Sign Up to start viewing and uploading cocktail recipes:</p>
    </div>
<body> 
  <nav> 
  <a href="/login">Log In</a> 
  <a href="/users/new">Sign Up</a>
  </nav> 
  </body>
    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
